In [2]:
import pandas as pd
import numpy as np
import re
import sqlite3

In [3]:
conn = sqlite3.connect("tweets.sqlite")

In [5]:
df = pd.read_sql_query("SELECT * FROM Tweet", conn)

In [11]:
df

,id,tweet_id,text,sentiment
0,1,858793053972307968,@caprichOreality Fica assim não miga &lt;3 Tud...,1
1,2,858793027871154180,Amanhã é dia de dar um trato na palestra para ...,1
2,3,858793021177040896,@thankovsky @patorebaichado eu também tenho :)...,1
3,4,858793273757970433,@JoseAbrantes6 Prefiro amar o meu clube nas vi...,1
4,5,858793272017387521,@Bel_Reedus Recomendamos que vá até uma loja C...,1
...,...,...,...,...
42705,42706,861320837886038018,"Pensa numa pessoa triste , eu tô dez vezes mai...",0
42706,42707,861320949060317184,Alaninha foi embora :(,0
42707,42708,861321047630643201,só queria jogar meu lolzinho :(,0
42708,42709,861321041393668096,@TeatroBonecos Então quer dizer que você não v...,0
42709,42710,861321102752198658,"Tô indo p hospital, minha tia veio aqui em cas...",0